@import "tachyons"; /*@import "/tachyons";*/

@font-face {
    font-family: 'bpdotsregular';
    src: url('BPdots-webfont.eot');
    src: url('BPdots-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdots-webfont.woff') format('woff'),
         url('BPdots-webfont.ttf') format('truetype'),
         url('BPdots-webfont.svg#bpdotsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jackeyfontregular';
    src: url('jackeyfont-webfont.woff2') format('woff2'),
         url('jackeyfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'camingocoderegular';
    src: url('CamingoCode-Regular-webfont.eot');
    src: url('CamingoCode-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('CamingoCode-Regular-webfont.woff') format('woff'),
         url('CamingoCode-Regular-webfont.ttf') format('truetype'),
         url('CamingoCode-Regular-webfont.svg#camingocoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'kanjistrokeordersregular';
	src: url('kanjistrokeorders_v4.002-webfont.woff2') format('woff2'),
			 url('kanjistrokeorders_v4.002-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'playtimewithhottoddiesobliqRg';
	src: url('PlaytimeOblique-webfont.eot');
	src: url('PlaytimeOblique-webfont.eot?#iefix') format('embedded-opentype'),
			 url('PlaytimeOblique-webfont.woff') format('woff'),
			 url('PlaytimeOblique-webfont.ttf') format('truetype'),
			 url('PlaytimeOblique-webfont.svg#playtimewithhottoddiesobliqRg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "chalkduster";
  src: url("Chalkduster.eot");
	src: url("Chalkduster.eot?#iefix") format("embedded-opentype"),
		url("Chalkduster.woff") format("woff"),
		url("Chalkduster.ttf") format("truetype"),
		url("Chalkduster.svg#Chalkduster") format("svg");
  font-style: normal;
  font-stretch: normal;
}

/* FONTS */
.chalkduster { font-family: 'chalkduster', cursive }
.m-plus-rounded-1c {font-family: 'M PLUS Rounded 1c', sans-serif }
.noto-serif { font-family: 'Noto Serif JP', sans-serif }
.papyrus { font-family: Papyrus, fantasy, cursive }
.cinzel { font-family: 'Cinzel', serif }
.playtime { font-family: 'playtimewithhottoddiesobliqRg', cursive }
.architects-daughter { font-family: 'Architects Daughter', cursive }
.camingocode { font-family: 'camingocoderegular', monospace }
.bpdots { font-family: 'bpdotsregular', sans-serif }
.jackeyfont { font-family: 'JackeyFont', JackeyFont, 'jackeyfontregular', sans-serif }
.schoolbell { font-family: 'Schoolbell', cursive }
.ringbearer {font-family: 'ringbearermedium', cursive }
.press-start-2p { font-family: 'Press Start 2P', cursive }
.vt323 { font-family: 'VT323', monospace }
.tron-outline { font-family: 'tr2n', cursive }
.source-code-pro {font-family: 'Source Code Pro', monospace }
.sawarabi-mincho { font-family: 'Sawarabi Mincho', sans-serif }
.noto-sans { font-family: 'Noto Sans JP', sans-serif }
.muli { font-family: 'Muli', sans-serif }
.jpn-test { font-family: 'Yu Gothic', YuGothic, Meiryo, 'Meiryo', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif }
.fredericka { font-family: 'Fredericka the Great', cursive }
.stroke-order { font-family: 'kanjistrokeordersregular', "KanjiStrokeOrders", KanjiStrokeOrders, cursive }


/* COLORS */
.retro-green-darker { color: #0f380f } /*Darker Green*/
.retro-green-dark { color: #306230 } /*Dark Green*/
.retro-green-light { color: #8bac0f } /*Light Green*/
.retro-green-lighter { color: #9bbc0f } /*Lighter Green*/
.bg-retro-green-darker { background-color: #0f380f } /*Darker Green*/
.bg-retro-green-dark { background-color: #306230 } /*Dark Green*/
.bg-retro-green-light { background-color: #8bac0f } /*Light Green*/
.bg-retro-green-lighter { background-color: #9bbc0f } /*Lighter Green*/

.bg-zb-1 { background-color: #3f3f3f } /*background*/
.bg-zb-2 {background-color: #242424 } /*PMenu select???*/
.zb-default {color: #DCDCCC } /*default text*/
.zb-bright-yellow {color: #EFEF8F } /*function*/
.zb-pale-yellow {color: #F0DFAF } /*conditional, keyword*/
.zb-muted-green {color: #7F9F7F } /*comment*/
.zb-cyan {color: #8CD0D3 } /*number*/
.zb-salmon {color: #DCA3A3 } /*boolean, character*/

.std-pink-chalk { color: #f2a3bd }
.std-yellow-chalk { color: #d6d963 }
.std-turquoise-chalk { color: #6fe7db }
.std-purple-chalk { color: #c4adc9 }
.std-white-chalk { color: #f4f4f0 }

.od-red-chalk { color: #ed7777 }
.od-orange-chalk { color: #fad48b }
.od-yellow-chalk { color: #f5f9ad }
.od-green-chalk { color: #bcdf8a }
.od-blue-chalk { color: #94c0cc }
.od-white-chalk { color: #f6f4f1 }

.zen-beige { color: #f6f6e0 }
.bg-zen-beige { background-color: #f6f6e0 }
.zen-black { color: #040404 }
.bg-zen-black { background-color: #040404 }

.oil { color: #1c1910 } /* dark brown */

.bg-matrix-black { background-color: #0D0208 }
.bg-matrix-dark-green { background-color: #003B00 }
.bg-matrix-green { background-color: #008F11 }
.bg-matrix-light-green { background-color: #00FF41 }
.matrix-black { color: #0D0208 }
.matrix-dark-green { color: #003B00 }
.matrix-green { color: #008F11 }
.matrix-light-green { color: #00FF41 }

.dark-slate-gray { color: #2f4f4f } /* todo: implement this as fallback for chalk on wet stone / side-walk*/
/*todo: implement chalk rock colors: http://colrd.com/palette/23114/?download=css */

.manuscript-brown { color: #45392A } /*"jacko bean"*/

/*todo: implement illuminated manuscript color scheme w/ following hex colors as a base:
493A28
534F48
C2AC82
F2DB97
F9F2C0
reference: http://colormind.io/image/
*/

/* GLOWS & SHADOWS */
.neon-glow-cyan { text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92) }

.neon-glow-green {
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #0F0, 0 0 70px #0F0, 0 0 80px #0F0, 0 0 100px #0F0, 0 0 150px #0F0
}


/* BACKGROUND IMAGES */
.bg-blackboard { background-image: url("./images/bg_blackboard_l_opt.jpg")}
.bg-wood { background-image: url("./images/fg_wood1_opt.jpg")} /*swapped fg and bg*/
.bg-parchment { background-image: url("./images/bg_parchment_l_opt.jpg")}
.bg-space { background-image: url("./images/bg_space_l_opt.jpg")}
.bg-chalk { background-image: url("./images/chalk_texture1.jpg")}
.bg-code-rain { background-image: url("./images/code_rain_opt.jpg")}
.text-wooden {
	background-image: url("./images/bg_wood1_opt.jpg"); /*swapped fg and bg*/
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.stroke-wooden { -webkit-text-stroke: 1.5px #1c1910 }
.stroke-black {  -webkit-text-stroke: 1px #000 }

/* OBJECT FITTING */
.of-fill { object-fit: fill}
.of-contain { object-fit: contain}
.of-cover { object-fit: cover}
.of-none { object-fit: none}
.of-scale-down { object-fit: scale-down}

/* FX */
.sepia { filter:sepia(100%) }
.multiply { mix-blend-mode: multiply }
.overlay { mix-blend-mode: overlay }
.hue { mix-blend-mode: hue }
.saturation { mix-blend-mode: saturation }
.soft-light { mix-blend-mode: soft-light }
.lighten { mix-blend-mode: lighten }
.darken { mix-blend-mode: darken }
.luminosity { mix-blend-mode: luminosity }

/*mix-blend-mode: normal;
mix-blend-mode: multiply;
mix-blend-mode: screen;
mix-blend-mode: overlay;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light;
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity;*/

.colorless { filter:grayscale(100%) }

/* LINKS & HOVERS */
.disabled-link { pointer-events: none }

/* T-MASTER FLEXBOX */
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
