@import "tachyons";

@font-face {
    font-family: 'bpdotsregular';
    src: url('BPdots-webfont.eot');
    src: url('BPdots-webfont.eot?#iefix') format('embedded-opentype'),
         url('BPdots-webfont.woff') format('woff'),
         url('BPdots-webfont.ttf') format('truetype'),
         url('BPdots-webfont.svg#bpdotsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jackeyfontregular';
    src: url('jackeyfont-webfont.woff2') format('woff2'),
         url('jackeyfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'camingocoderegular';
    src: url('CamingoCode-Regular-webfont.eot');
    src: url('CamingoCode-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('CamingoCode-Regular-webfont.woff') format('woff'),
         url('CamingoCode-Regular-webfont.ttf') format('truetype'),
         url('CamingoCode-Regular-webfont.svg#camingocoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'kanjistrokeordersregular';
	src: url('kanjistrokeorders_v4.002-webfont.woff2') format('woff2'),
			 url('kanjistrokeorders_v4.002-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'playtimewithhottoddiesobliqRg';
	src: url('PlaytimeOblique-webfont.eot');
	src: url('PlaytimeOblique-webfont.eot?#iefix') format('embedded-opentype'),
			 url('PlaytimeOblique-webfont.woff') format('woff'),
			 url('PlaytimeOblique-webfont.ttf') format('truetype'),
			 url('PlaytimeOblique-webfont.svg#playtimewithhottoddiesobliqRg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FONTS */
.m-plus-rounded-1c {font-family: 'M PLUS Rounded 1c', sans-serif }
.noto-serif { font-family: 'Noto Serif JP', sans-serif }
.papyrus { font-family: Papyrus, fantasy, cursive }
.cinzel { font-family: 'Cinzel', serif }
.playtime { font-family: 'playtimewithhottoddiesobliqRg', cursive }
.architects-daughter { font-family: 'Architects Daughter', cursive }
.camingocode { font-family: 'camingocoderegular', monospace }
.bpdots { font-family: 'bpdotsregular', sans-serif }
.jackeyfont { font-family: 'JackeyFont', JackeyFont, 'jackeyfontregular', sans-serif }
.schoolbell { font-family: 'Schoolbell', cursive }
.ringbearer {font-family: 'ringbearermedium', cursive }
.press-start-2p { font-family: 'Press Start 2P', cursive }
.tron-outline { font-family: 'tr2n', cursive }
.source-code-pro {font-family: 'Source Code Pro', monospace }
.sawarabi-mincho { font-family: 'Sawarabi Mincho', sans-serif }
.noto-sans { font-family: 'Noto Sans JP', sans-serif }
.muli { font-family: 'Muli', sans-serif }
.jpn-test { font-family: 'Yu Gothic', YuGothic, Meiryo, 'Meiryo', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif }
.fredericka { font-family: 'Fredericka the Great', cursive }
.stroke-order { font-family: 'kanjistrokeordersregular', "KanjiStrokeOrders", KanjiStrokeOrders, cursive }


/* COLORS */
.retro-green-darker { color: #0f380f } /*Darker Green*/
.retro-green-dark { color: #306230 } /*Dark Green*/
.retro-green-light { color: #8bac0f } /*Light Green*/
.retro-green-lighter { color: #9bbc0f } /*Lighter Green*/
.bg-retro-green-darker { background-color: #0f380f } /*Darker Green*/
.bg-retro-green-dark { background-color: #306230 } /*Dark Green*/
.bg-retro-green-light { background-color: #8bac0f } /*Light Green*/
.bg-retro-green-lighter { background-color: #9bbc0f } /*Lighter Green*/

.bg-zb-1 { background-color: #3f3f3f } /*background*/
.bg-zb-2 {background-color: #242424 } /*PMenu select???*/
.zb-default {color: #DCDCCC } /*default text*/
.zb-bright-yellow {color: #EFEF8F } /*function*/
.zb-pale-yellow {color: #F0DFAF } /*conditional, keyword*/
.zb-muted-green {color: #7F9F7F } /*comment*/
.zb-cyan {color: #8CD0D3 } /*number*/
.zb-salmon {color: #DCA3A3 } /*boolean, character*/

.zen-beige { color: #f6f6e0 }
.bg-zen-beige { background-color: #f6f6e0 }
.zen-black { color: #040404 }
.bg-zen-black { background-color: #040404 }

/* GLOWS & SHADOWS */
.neon-glow-cyan { text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92) }

.neon-glow-green {
  text-shadow: 0 0 10px #FFF, 0 0 20px #FFF, 0 0 30px #FFF, 0 0 40px #0F0, 0 0 70px #0F0, 0 0 80px #0F0, 0 0 100px #0F0, 0 0 150px #0F0
}

/* BACKGROUND IMAGES */
.bg-img-blackboard { background-image: url("./images/bg_blackboard_l_opt.jpg")}
